.movie-grid {
  margin-top: 1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.movie-grid__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.movie-grid__pagination-page {
  font-size: 1.4rem;
  font-style: "Open Sans";
  font-weight: 700;
  color: white;
}
