
.card-image {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.card {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.card > .card-image {
  grid-row: 1 / -1;
  grid-column: 1;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  column-count: 4;
  column-gap: 10px;
}

.card-author-icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-author{
  padding: 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}