.btn {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.modal {
  background-color: #fff;
  max-width: 530px;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1rem;

  &__btn-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  &__close-btn{
  cursor: pointer;
  color: black;
	font-weight: 700;
	font-size: 1.25rem;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 20px;
  transition: 0.2s;
  }
  &__close-btn:hover{
    scale: 1.03;
  }

  &__send-btn{
  cursor: pointer;
	background-color: #E60023;
	color: white;
	font-weight: 700;
	font-size: 1.25rem;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 20px;
  transition: 0.2s;
}
&__send-btn:hover{
  scale: 1.03;
}
  &__title {
    text-align: center;
    font-size: 1.8rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
  }
  &__list {
    margin-left: 0;
    padding-left: 0;
  }
  &__list-item {
    list-style: none;
	margin-bottom: 1rem;
  }
  &__list-item-name{
  font-weight: 400;
	font-family: Roboto;
  padding-bottom: 1rem;
  }
  &__list-item-subtitle{
    font-weight: 300;
    padding-left: 3rem;
  }
	&__list-item-checkbox {
		position: relative;
		margin-right: 2rem;
	  }
	  &__list-item-checkbox::before {
		content: '';
		width: 24px;
		height: 24px;
		background-color: white;
		border: 2px solid grey;
		border-radius: 50%;
		position: absolute;
		top: -8px;
		left: -4px;
	  }
	  &__list-item-checkbox:checked::after {
		content: '';
		background-image: url('https://cdn-icons-png.flaticon.com/512/1828/1828796.png');
		background-size: cover;
		border: 1px solid black;
		background-repeat: no-repeat;
		background-position-x: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		position: absolute;
		top: -7px;
		left: -3px;
	  }

}
