.header {
  font-family: "open sans";
  background-color: #3b3b3b;
  padding: 5px;
  width: 100%;
}
.header-content {
  background-color: #3b3b3b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  color: #a259ff;
  font-family: "open sans";
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
}
