.selected-movie {
  padding: 2rem;
}
.selected-movie__content-main {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.selected-movie__content-main-poster {
  width: 25%;
  border-radius: 20px;
}
.selected-movie__content-main-text {
  font-family: "Roboto";
  color: white;
  font-weight: 500;
}
.selected-movie__content-main-text-name {
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
}
.selected-movie__content-main-text-info {
  font-size: 1.2rem;
}
.selected-movie__content-text-description {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}
.selected-movie__content-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.selected-movie__content-trailer-link {
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 300px;
}
.selected-movie__content-about-photo {
  width: 100px;
  height: 150px;
}
.selected-movie__content-about-text {
  text-align: center;
}
.swiper-slide:hover {
  scale: 1.05;
  transition: 0.2s ease-in;
}

