.movie-recommendation {
  padding: 1.2rem;
}
.movie-recommendation__content-poster {
  width: 27%;
}
.movie-recommendation__content-cover {
  backdrop-filter: blur(5px);
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
}
.movie-recommendation__content {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.8;
}
.movie-recommendation__content-info {
  background-color: rgba(151, 71, 255, 0.6);
  padding: 0.4rem;
  border-radius: 10px;
  width: 60%;
  font-family: "Roboto";
  font-size: 1rem;
  align-self: flex-start;
}
.movie-recommendation__content-info-name {
  font-family: "Roboto";
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}
.movie-recommendation__content-info-name:hover {
  color: #9747ff;
}
.movie-recommendation__content-info-text {
  font-family: "Roboto";
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
}

.movie-recommendation__content-info-description {
  font-family: "Roboto";
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}
