@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
body {
  font-family: Roboto;
  font-weight: 400;
}

.main-header {
  font-family: Roboto;
}

.main-header__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo {
  cursor: pointer;
  padding: 1rem;
}

.main-header__header-search {
  width: 65%;
  position: relative;
  padding-right: 50px;
}

.main-header__header-search:focus {
  border: none;
}

.header-search__input {
  width: 100%;
  height: 48px;
  background: #f0f0f0;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 3em;
  padding: 0 0 0 50px;
  font-family: Roboto;
  text-overflow: ellipsis;
}

.header-search__input:focus {
  outline-color: #4a8ad4;
  border: 4px solid #4a8ad4;
}

.header-search__btn-search {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 15px;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 7em;
  position: relative;
  padding: 1rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
}
.dropdown__select {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select__caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

.select__caret-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown__menu {
  list-style: none;
  padding: 0.2em 0.5em;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
  width: 100px;
  background: white;
}

.menu__item {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu__item:hover {
  background: rgba(211, 211, 211, 0.233);
}

.dropdown__menu-open {
  display: block;
  opacity: 1;
}

.container__queries {
  width: 85%;
  min-height: 100px;
  background-color: white;
  position: absolute;
  left: 2%;
  z-index: 11;
  -webkit-box-shadow: 2px 11px 10px 10px rgba(29, 29, 29, 0.6);
          box-shadow: 2px 11px 10px 10px rgba(29, 29, 29, 0.6);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.queries__title {
  padding-left: 1rem;
}
.queries__list {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  list-style-type: none;
}
.queries__list-item-button {
  font-size: 1rem;
  font-weight: 700;
  max-width: 200px;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: 2px solid grey;
  background-color: #E9E9E9;
  cursor: pointer;
}

@media screen and (max-width: 495px) {
  .container__queries {
    opacity: 0;
  }
}
@media screen and (max-width: 344px) {
  .header-search__input {
    text-overflow: ellipsis;
  }
}
.card-image {
  max-width: 100%;
  display: block;
  border-radius: 15px;
}

.card-list {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 1rem;
}

.card {
  position: relative;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1.2rem;
}
.card:hover .card-content-menu {
  overflow: visible;
  opacity: 1;
}

.card > .card-image {
  grid-row: 1/-1;
  grid-column: 1;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  -webkit-column-count: 6;
     -moz-column-count: 6;
          column-count: 6;
  -webkit-column-gap: 1.2rem;
     -moz-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

@media screen and (max-width: 1440px) {
  .container {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}
@media screen and (max-width: 768px) {
  .container {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media screen and (max-width: 548px) {
  .container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
.card-author-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card-author {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.card-content-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lavender;
  position: absolute;
  bottom: 90px;
  right: 10%;
  overflow: hidden;
  opacity: 0;
  outline: none;
  border: none;
}
.card-content-menu::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 45%;
  left: 68%;
}
.card-content-menu::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 45%;
  left: 22%;
}
.card-content-menu:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-content-menu__dots {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 45%;
  left: 45%;
}

.card-content-menu-active {
  width: 100%;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn {
  font-family: Roboto;
  font-weight: 500;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  margin-bottom: 20px;
  min-height: 2rem;
  border-radius: 20px;
  border: none;
  padding: 11px 0.7rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.card__btn:hover {
  scale: 1.02;
}

.card-btn-add-drop {
  background-color: #E60023;
  color: white;
}

.modal {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: black;
}

.container {
  position: relative;
}

.spinner {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #a04668;
  top: 300px;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.spinner:before {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #a04668;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.spinner:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #fffbfe;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.btn {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.modal {
  background-color: #fff;
  max-width: 530px;
  max-height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 1rem;
}
.modal__btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.modal__close-btn {
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.modal__close-btn:hover {
  scale: 1.03;
}
.modal__send-btn {
  cursor: pointer;
  background-color: #E60023;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.modal__send-btn:hover {
  scale: 1.03;
}
.modal__title {
  text-align: center;
  font-size: 1.8rem;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.3rem;
}
.modal__list {
  margin-left: 0;
  padding-left: 0;
}
.modal__list-item {
  list-style: none;
  margin-bottom: 1rem;
}
.modal__list-item-name {
  font-weight: 400;
  font-family: Roboto;
  padding-bottom: 1rem;
}
.modal__list-item-subtitle {
  font-weight: 300;
  padding-left: 3rem;
}
.modal__list-item-checkbox {
  position: relative;
  margin-right: 2rem;
}
.modal__list-item-checkbox::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -4px;
}
.modal__list-item-checkbox:checked::after {
  content: "";
  background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828796.png");
  background-size: cover;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -3px;
}