.main-header {
  font-family: Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.main-header__logo {
  cursor: pointer;
}

.main-header__header-search {
  width: 80%;
  position: relative;
}

.header-search__input {
  width: 100%;
  height: 48px;
  background: rgba(211, 211, 211, 0.295);
  border: none;
  border-radius: 3em;
  padding: 0 0 0 50px;
}

.header-search__btn-search {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 15px;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 7em;
  position: relative;
  margin: 2em;
}
.dropdown__select {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select__caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

.select__caret-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown__menu {
  list-style: none;
  padding: 0.2em 0.5em;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
  width: 100px;
}

.menu__item {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu__item:hover {
  background: rgba(211, 211, 211, 0.233);
}

.dropdown__menu-open {
  display: block;
  opacity: 1;
}

html {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}

body {
  margin: 0;
  padding: 0;
}

.cards_container {
  margin: 0;
  padding: 0;
  width: 95vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 0;
  margin: 15px 10px;
  border-radius: 20px;
  background-color: red;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}